#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	width: 800px;
	min-height: 500px;
	background: linear-gradient(135deg, rgb(0, 84, 2) 0%, rgb(0, 142, 76) 30%, rgb(0, 84, 67) 67%, rgb(0, 153, 33) 100%);
	margin-inline: auto;
	padding: 10px;
	border-radius: 10px;
}
